body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 250, 255);
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 20px;
}

h1 {
    margin: 3rem 0;
}